@using BugTrackerDemo.Common

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>@ViewBag.Title - BugSqusher</title>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" />

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/assets/plugins/line-icons/line-icons.css" />
    <link rel="stylesheet" href="~/assets/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/flexslider/flexslider.css" />
    <link rel="stylesheet" href="~/assets/plugins/parallax-slider/css/parallax-slider.css" />

    <!-- CSS Theme -->
    <link rel="stylesheet" href="~/assets/css/themes/default.css" id="style_color" />

    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/assets/css/custom.css" />

    <link rel="stylesheet" href="~/assets/plugins/datatables/css/jquery.dataTables.min.css" />
</head>

<body class="boxed-layout container">
    <div class="wrapper">
        <!--=== Header ===-->
        <div class="header">
            <!-- Topbar -->
            <div class="topbar">
                <div class="container">
                    <!-- Topbar Navigation -->
                    @Html.Partial("_LoginPartial")
                    <!-- End Topbar Navigation -->
                </div>
            </div>
            <!-- End Topbar -->
            <!-- Navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="fa fa-bars"></span>
                        </button>
                        <a class="navbar-brand hidden-xs" href="@Url.Action("Index","Home")">
                            <img id="logo-header" src="~/assets/img/bugsqusherlogo.png" alt="Logo" style="height: 2.5em">
                        </a>
                        <a class="navbar-brand visible-xs" href="@Url.Action("Index","Home")">
                            <img id="logo-header" src="~/assets/img/bugsqusherlogo-small.png" alt="Logo" style="height: 2.5em">
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-responsive-collapse">

                        <ul class="nav navbar-nav">
                            <!-- Home -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>@Html.ActionLink("About", "About", "Home")</li>
                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                </ul>
                            </li>
                            <!-- End Home -->

                            @if (ViewBag.isLoggedIn)
                            {
                                UserData page = ViewBag.page;
                                
                                
                                if (page.IsAdmin)
                                { 
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin</a>
                                    <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Manage Projects", "Index", "Project")</li>
                                            <li>@Html.ActionLink("Manage Users", "List", "User")</li>
                                    </ul>
                                </li>
                                }
                                
                                
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Project: @page.ProjectName</a>
                                    <ul class="dropdown-menu" role="menu">
                                        @foreach (var item in page.UserProjectList)
                                        {
                                            <li>@Html.ActionLink((string)item.Value, "ChangeProject", "Project", new { id = item.Key, returnUrl = Request.Url.AbsolutePath }, null)</li>
                                        }
                                    </ul>
                                </li>
                                
                                if (page.UserProjectList.Count > 0)
                                {
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tickets</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("View All Tickets", "Index", "Ticket")</li>

                                            @if (page.IsSubmitter)
                                            {
                                                <li>@Html.ActionLink("Submit New Ticket", "Create", "Ticket")</li>
                                            }

                                            @if (page.IsDeveloper)
                                            {
                                                <li>@Html.ActionLink("View Assigned Tickets", "Index", "Ticket", new { filter = "Assigned" }, null)</li>
                                            }

                                            @if (page.IsManager)
                                            {
                                                <li>@Html.ActionLink("View Open Tickets", "Index", "Ticket", new { filter = "Open" }, null)</li>
                                                <li>@Html.ActionLink("View Resolved Tickets", "Index", "Ticket", new { filter = "Resolved" }, null)</li>
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        </ul>
                    </div><!--/navbar-collapse-->
                </div>
            </div>
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <!--=== Content Part ===-->
        <div class="container content">
            @RenderBody()
        </div>
        <!--/container-->
        <!-- End Content Part -->

        <!--=== Copyright ===-->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            @DateTime.Now.Year &copy; BugSquasher. ALL Rights Reserved.
                            <!--<a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>-->
                        </p>
                    </div>
                    <div class="col-md-6">
                        <a href="@Url.Action("Index","Home")">
                            <img class="pull-right" id="logo-footer" src="~/assets/img/bugsqusherlogo-small.png" alt="" style="height: 3em">
                        </a>
                    </div>
                </div>
            </div>
        </div><!--/copyright-->
        <!--=== End Copyright ===-->
    </div><!--/wrapper-->
    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="~/assets/plugins/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="~/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="~/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/parallax-slider/js/modernizr.js"></script>
    <script type="text/javascript" src="~/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="~/assets/js/app.js"></script>
    <script type="text/javascript" src="~/assets/js/pages/index.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            App.initSliders();
            Index.initParallaxSlider();
        });
    </script>

    <script type="text/javascript" src="~/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="~/assets/js/plugins/validation.js"></script>
    <!--[if lt IE 9]>
        <script src="~/assets/plugins/respond.js"></script>
    <![endif]-->

    @RenderSection("scripts", false)

</body>
</html>	