@model BugTrackerDemo.Models.TicketDetailViewModel

@{
    ViewBag.Title = "Details";
}

@helper item(string title, string body)
{
    <div class="row headline">
        <div class="col col-md-2"><label>@title</label></div>
        <div class="col col-md-4">@body</div>
    </div>
}

<div class="padded-p">
    <div class="row">
        <div class="shadow-wrapper margin-bottom-60">
            <div class="tag-box-v1 box-shadow shadow-effect-2" style="margin: 0em 3em">

                @item("Title", @Model.Title)
                @item("Submitted By", @Model.OwnerName)
                @if (ViewBag.page.IsManager == true)
                {
                    using (Html.BeginForm("Assign", "Ticket", new { id = Model.Id }, FormMethod.Post, new { Id = "Form1" }))
                    {

                        <div class="row headline">
                            <div class="form-group">
                                <div class="col col-md-2"><label>Assign To</label></div>
                                <div class="col col-md-4">@Html.DropDownList("assignList", null, htmlAttributes: new { @class = "form-control" })</div>
                                <div class="col col-md-4">
                                    <input type="submit" value="Assign" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    @item("Assigned To", @Model.AssigneeName)
                }
                @item("Created", @Model.CreationDate)
                @item("Updated", @Model.UpdateDate)

                <p>@Model.Description</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9 shadow-wrapper margin-bottom-60">
            <div class="tag-box-v1 box-shadow shadow-effect-2" style="margin: 0em 3em">

                @foreach (var file in Model.Attachments)
                {
                    <div class="row" style="padding-left: 1em">
                    <div class="col-md-4">@file.Uploader</div>
                    <div class="col-md-2">@file.Uploaded.DateTime.ToString("MM-dd-yyyy")</div>
                    <div class="col-md-2">
                        @Html.ActionLink(file.FileName, "Download", "Ticket", new { id = file.FileHash }, new { target = "_blank" })
                    </div>
                    </div>
                    <br />
                }
                    
                    <br />
                <div class="row" style="padding-left: 1em; margin-bottom: 2em">
                    @using (Html.BeginForm("Upload", "Ticket", new { id = Model.Id },
                                       FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="col-md-2 ">
                            <label class="control-label">Upload File</label>
                        </div>
                        <div class="col-md-5">@Html.TextBox("file", new { }, new { type = "file" })</div>

                        <div class="col-md-2">
                            <input type="submit" value="Upload" class="btn btn-default" />
                        </div>
                    }
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9 shadow-wrapper margin-bottom-60">
            <div class="tag-box-v1 box-shadow shadow-effect-2" style="margin: 0em 3em">
                @{ bool first = true; }
                @foreach (var comment in @Model.Comments)
                {
                    if (first)
                    {
                        first = false;
                    }
                    else
                    {
                        <hr style="border-bottom: solid" />
                    }
                    @item("Author", comment.PosterName)
                    @item("Date", comment.PostTime.ToString())
                    <p>@comment.Message</p>
                }
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-9 shadow-wrapper margin-bottom-60">
            <div class="tag-box-v1 box-shadow shadow-effect-2" style="margin: 0em 3em">
                @using (Html.BeginForm("SubmitComment", "Ticket", new { id = Model.Id }))
                {
                    <p>
                        @Html.TextArea("Comment", "", 5, 15, new { style = "width: 100%; resize: none;" })<br />
                        <input type="submit" value="New Comment" class="btn btn-default" />
                    </p>
                }
            </div>
        </div>
    </div>

</div>



<p>
    @Html.ActionLink("Back to List", "Index")
</p>
