@model IPagedList<BugTrackerDemo.Models.Ticket>

@using BugTrackerDemo.Common
@using PagedList.Mvc
@using PagedList

@{
    ViewBag.Title = "Ticket List";
    UserData user = ViewBag.page;
}

<link href="~/assets/css/plugins/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Ticket List</h2>

@if(user.IsSubmitter)
{
<p>
    @Html.ActionLink("Submit New Ticket", "Create")
</p>
}

<div class="row">
    @using (Html.BeginForm("List", "Ticket", new { }, FormMethod.Get, htmlAttributes: new { id = "search-form" }))
    {
        @*Html.Hidden("page", "1")*@
        @Html.DropDownList("status", null, htmlAttributes: new { @class = "col-md-offset-6 col-md-2 td-select autoupdate" })
        @Html.DropDownList("severity", null, htmlAttributes: new { @class = "col-md-2 td-select autoupdate" })
        <div class="col-md-2 td-select">
            @Html.CheckBox("myTickets", (bool)ViewBag.myTicketsCurrent, htmlAttributes: new { @class = "autoupdate" })
            <label class="control-label">My Tickets</label>
        </div>
    }
</div>
<hr />

<table id="TicketTable" class="table" style="text-align: center">
    <thead>
    <tr>
        <th>
            Updated
        </th>
        <th>
            Status
        </th>
        <th>
            Serverity
        </th>
        <th>
            Summary
        </th>
        <th>
            Action
        </th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @item.UpdatedTime.DateTime.ToString("MM-dd-yyyy")
        </td>
        <td>
            @item.TicketStatus.Status
            @if (@item.AssigneeId != null)
            { 
                <br />
                <span style="font-size: small">
                    @Html.Raw(item.Assignee.FirstName + " " + item.Assignee.LastName + "(" + item.Assignee.Email + ")")
                </span>
            }
        </td>
        <td>
            @item.TicketSeverity.Type
        </td>
        <td class="col-md-6">
            @item.Title
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            @*
    @if (ViewBag.page.IsManager == true)
    {
        @Html.Raw(" | ")
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    }
            *@
        </td>
    </tr>
}
    </tbody>
</table>
@if (Model.PageCount > 1)
{
    <br />
    <div style="text-align: center">
        @Html.PagedListPager(Model, page => Url.Action("List", new { page, status = ViewBag.statusCurrent, severity = ViewBag.severityCurrent, myTickets = ViewBag.myTicketsCurrent }))
    </div>
}
@section scripts {
    <!--<script type="text/javascript">
        $(document).ready(function () {
            $('#TicketTable').DataTable();
        });
    </script>-->

    <script type="text/javascript">
        $(".autoupdate").change(function() {
                $("#search-form").submit();
            });
    </script>
}
