@model IPagedList<BugTrackerDemo.Models.Ticket>

@using BugTrackerDemo.Common
@using PagedList.Mvc
@using PagedList

@{
    ViewBag.Title = "Ticket List";
    UserData user = ViewBag.page;
}

<link href="~/assets/css/plugins/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Ticket List</h2>

@if(user.IsSubmitter)
{
<p>
    @Html.ActionLink("Submit New Ticket", "Create")
</p>
}

<hr />

<table id="TicketTable" class="table">
    <thead>
    <tr>
        <th>
            Updated
        </th>
        <th>
            Status
        </th>
        <th>
            Serverity
        </th>
        <th>
            Summary
        </th>
        <th>
            Action
        </th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @item.UpdatedTime.DateTime.ToString("MM-dd-yyyy")
        </td>
        <td>
            @item.TicketStatus.Status
        </td>
        <td>
            @item.TicketSeverity.Type
        </td>
        <td class="col-md-6">
            @item.Title
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id })
            @if (ViewBag.page.IsManager == true)
            {
                @Html.Raw(" | ")
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            }
        </td>
    </tr>
}
    </tbody>
</table>
@if (Model.PageCount > 1)
{
    <br />
    <div style="text-align: center">
        @Html.PagedListPager(Model, page => Url.Action("List", new { page }))
    </div>
}
@*
    @section scripts
    {
        <script type="text/javascript">
            $(document).ready(function()
            {
                $('#TicketTable').DataTable();
            });
        </script>
    }
*@